:root {
  --total-height: 128px;
  --total-width: 384px;
  --marquee-duration-horizontal: 10s;
  --marquee-duration-vertical: 10s;
  --gap: 4px;
  --intra-group-separator-horizontal: " ";
  --inter-group-separator-horizontal: " / "; /* Be sure to update also marqueeJoiner.inline */
}

/* Fallback font */
@font-face {
  font-family: "Lato";
  src: url("lato-regular.woff2") format('woff2');
}

/* Proprietary font */
@font-face {
  font-family: "Prague Citizen";
  src: url("prague_citizen_light.woff2") format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: "Prague Citizen";
  src: url("prague_citizen_semibold.woff2") format('woff2');
  font-weight: bold;
}

body {
  filter: grayscale(0); /* Odstraní barevný šum na hranách textu způsobený hintingem */
  background-color: black;
  color: white;
  font-family: 'Prague Citizen', 'Lato', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 5px 0px 5px;
  margin: 0;
  width: var(--total-width);
  height: var(--total-height);
  overflow: hidden;
  font-variant-numeric: tabular-nums;
  /* transform: scale(9.43); /* Tímto se zapíná zvětšení na 1:1 při zobrazení na 96 dpi monitoru) */
  transform-origin: top left;
  box-sizing: border-box;
  image-rendering: auto; /* Hack pro prohlížeče nepodporující správná klíčova slova pro způsob vykreslování */
  image-rendering: smooth;
  font-weight: bold;
}

main {
  height: 100px;
  display: grid;
  grid-template-columns: [start] 30px 12px 12px 1fr max-content 3ch [end];
  grid-template-rows: [top] 20px [bottom];
  column-gap: 3px;
  align-content: start;
  align-items: center;
  overflow: clip;
}

main:has(#fullscreen-text-content) {
  align-content: center;
  grid-template-rows: [top] 1fr [bottom];
}

main:has(#fullscreen-text-content):before {
  content: url("warning.svg");
  aspect-ratio: 1;
  width: 58px;
  align-self: start;
}

#fullscreen-text-content {
  grid-column: 4 / end;
  text-align: left;
  align-self: start;
  hyphens: auto;
}

#fullscreen-text-content > p {
  margin: 0;
}

#main > div:not(#fullscreen-text-content) {
  height: 20px;
  display: grid;
  align-items: center;
}

.route {
  text-align: right;
  grid-column: 1;
  white-space: nowrap;
}

.accessible {
  width: 100%;
  height: 100%;
  grid-column: 2;
}

.aircondition {
  width: 100%;
  height: 100%;
  grid-column: 3;
}

.accessible.true,
.aircondition.true {
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(0.95);
}

.accessible.true {
  background-image: url("accessible.svg");
  background-size: 12px 12px;
}

.aircondition.true {
  background-image: url("snowflake.svg");
  background-size: 12px 12px;
}

.headsign {
  overflow: hidden;
  grid-column: 4;
  white-space: nowrap;
}

.platform {
  text-align: center;
  grid-column: 5;
}

.arrival {
  text-align: right;
  grid-column: 6;
}

img {
  width: 10px;
  height: 100%;
}

hr {
  border: none;
  border-top: 1px solid white;
  width: 100%;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 20px;
}

#datetime {
  display: flex;
  justify-content: space-between;
  height: 19px;
}

#colon {
  animation-name: blink;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2, jump-none);
}

#infotext {
  display: none;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  gap: var(--gap);
}

#infotext::before {
  content: url("hatch.svg");
  height: 100%;
  aspect-ratio: 1;
  filter: grayscale(0);
  z-index: 1;
  background-color: black;
}

#infotext p.infotext-group {
  margin: 0;
}

#infotext p.infotext-group span:before {
  content: var(--intra-group-separator-horizontal);
}

#infotext .marquee-content-horizontal p.infotext-group:before,
#infotext p.infotext-group:not(:first-of-type):before {
  content: var(--inter-group-separator-horizontal);
}

span:lang(en) {
  font-weight: 300;
}

#fullscreen-text-content span {
  display: block;
}

#fullscreen-text-content .marquee-content-vertical span:lang(cs),
#fullscreen-text-content span:not(:first-of-type):lang(cs) {
  margin-top: 1ex;
}

#fullscreen-text-content .marquee-content-vertical span:lang(en) {
  margin-top: 0.5ex;
}

/* Animation of linear information text courtresy of Ryan Mulligan */
.marquee {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee:has(.marquee-content-vertical) {
  flex-direction: column;
}

.marquee-content-horizontal {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  animation-name: scrollX;
  animation-duration: var(--marquee-duration-horizontal);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-content-vertical {
  flex-shrink: 0;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  animation-name: scrollY;
  animation-duration: var(--marquee-duration-vertical);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scrollX {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scrollY {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@keyframes blink {
  from {
    color: white;
  }

  to {
    color: #222;
  }
}
