:root {
  --displayed-rows: 5;
  --total-height: 128px;
  --total-width: 384px;
  --row-height: var(--total-height) / (var(--displayed-rows) + 1);
  --marquee-duration: 10s;
}

@font-face {
  font-family: "Lato";
  src: url("lato-regular.woff2") format('woff2');
}

body {
  filter: grayscale(1); /* Odstraní barevný šum na hranách textu způsobený hintingem */
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif;
  outline: 1px dotted white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: var(--total-width);
  height: var(--total-height);
  overflow: hidden;
  font-variant-numeric: tabular-nums;
  /* transform: scale(9.43); /* Tímto se zapíná zvětšení na 1:1 při zobrazení na 96 dpi monitoru) */
  transform-origin: top left;
}

main {
  height: calc(var(--total-height) - var(--row-height));
  display: grid;
  grid-template-columns: [start] 4ch 10px 11px 1fr max-content 3ch [end];
  grid-template-rows: [top] var(--row-height) [bottom];
  column-gap: 3px;
  align-content: start;
  align-items: center;
  overflow: clip;
}

main:has(#fullscreen-text-content) {
  align-content: center;
  flex-grow: 1;
}

#fullscreen-text-content {
  grid-column: start / end;
  text-align: center;
  align-self: center;
}

#fullscreen-text-content > p {
  margin: 0px 0; 
}

.route {
  text-align: right;
  grid-column: 1;
}

.accessible {
  width: 100%;
  height: 100%;
  grid-column: 2;
}

.aircondition {
  width: 100%;
  height: 100%;
  grid-column: 3;
}

.accessible.true, .aircondition.true {
  background-repeat: no-repeat;
  background-position: center 40%;
}

.accessible.true {
  background-image: url(accessible.webp);
  background-size: 10px 11px;
}

.aircondition.true {
  background-image: url(snowflake.webp);
  background-size: 11px 11px;
}

body.fontsize4 .accessible.true, body.fontsize4 .aircondition.true {
  background-position-y: center;
}

.headsign {
  text-overflow: ellipsis;
  overflow: hidden;
  grid-column: 4;
}

.platform {
  text-align: center;
  grid-column: 5;
}

.arrival {
  text-align: right;
  grid-column: 6;
}

img {
  width: 10px;
  height: 100%;
  max-height: calc(var(--total-height) * 0.6 / var(--displayed-rows) - 1);
}

#datetime {
  display: flex;
  justify-content: space-between;
  height: var(--row-height) ;
  padding-left: 12px;
}

#colon {
  animation-name: blink;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2,jump-none)
}

#infotext {
  display: none;
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation of linear information text courtresy of Ryan Mulligan */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.infotextcontent {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation-name: scroll;
  animation-duration: var(--marquee-duration);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.infotextcontent:after {
  content: "•";
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Napevno předdefinované velikosti písma dle počtu řádků. Při změně fontu bude potřeba překonfigurovat */
.fontsize1, .fontsize2, .fontsize3, .fontsize4 {
  font-size: 21px;
}

.fontsize5 {
  font-size: 18px;
}

.fontsize6 {
  font-size: 15px;
}

@keyframes blink {
  from {
    color: white;
  }
  to {
    color: #222;
  }
}
